.ProductDetail-container {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3125rem;
    min-width: 17.5rem;
    height: 21.875rem;
    background-color: rgb(198, 224, 215);
}


.ProductDetail-container img {
    height: 75%;
    overflow: hidden;
    z-index: 2;
}

.ProductDetail-circle {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;

}

.ProductDetail-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 3;
}

.ProductDetail-info:hover {
    opacity: 1;
}

.ProductDetail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: wheat;
    margin: 0.625rem;
    transition: all 0.5s ease;
}

.ProductDetail-icon:hover{
    background-color: #e9f5f5;
    transform: scale(1.1);
}